@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:wght@100&display=swap');

@font-face {
    font-family: 'amsterdamfour_ttf';
    src: url('../fonts/amsterdam_four_ttf_400-webfont.woff2') format('woff2'),
         url('../fonts/amsterdam_four_ttf_400-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary: #EBEBEC;
    --secondary: #FAFAFA;
    --tertiary: #c2c2c2;

    --color: #262628;
    --title: #535354;
    --green: #0da515;
    --blue: #127CE5;
    --pink: #df5a91;
    --yellow: #ebe126;
    --headerBackground: linear-gradient(to right, rgb(148, 221, 255), rgb(148, 255, 168), rgb(199, 255, 136));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary);
    opacity: 1;
    color: var(--color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* ############## TOP NAV ############## */

div.topNav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    height: 14vh;
    transition: all 0.5s ease-in-out;
    backdrop-filter: blur(10px);
    opacity: 0;
    transform: translateY(-14vh);
    animation: apparition 0.8s 1.6s ease-out forwards;
}

div.topNav ul.listMenu {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    gap: 20%;
    width: 100%;
}

div.topNav ul.listMenu li {
    display: flex;
    justify-content: center;
    font-size: 130%;
    font-weight: bold;
    width: 10vw;
    padding: 1% 3%;
    border-bottom: transparent 2px solid;
    transition: all 0.3s ease-in-out;
    color: var(--title);
    cursor: pointer;
}

div.topNav ul.listMenu li:hover {
    border-bottom: var(--title) 2px solid;
}

/* ############## FOOTER ############## */

footer {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    height: 14vh;
    transition: all 0.5s ease-in-out;
    backdrop-filter: blur(10px);
}

footer p {
    display: flex;
    justify-content: center;
    font-size: 100%;
    font-weight: bold;
    width: fit-content;
    padding: 1% 3%;
    transition: all 0.3s ease;
    color: var(--title);
}